body {
  overflow: scroll;
}

.campo-digitacao {
  font-size: 20px;
  height: 130px;
  border: 3px solid black;
  -webkit-box-shadow: 0px -1px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 17px 0px rgba(0, 0, 0, 0.75);
}

.gray {
  background-color: lightgray;
}

.frase {
  font-size: 20px;
  text-align: left;
}

.icones {
  vertical-align: middle;
}

.border-verde {
  border: 3px solid green;
  -webkit-box-shadow: 0px -1px 17px 0px rgba(35, 142, 35, 0.75);
  -moz-box-shadow: 0px -1px 17px 0px rgba(35, 142, 35, 0.75);
  box-shadow: 0px -1px 17px 0px rgba(35, 142, 35, 0.75);
}

.border-vermelha {
  border: 3px solid red;
  -webkit-box-shadow: 0px -1px 17px 0px rgba(250, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 17px 0px rgba(250, 0, 0, 0.75);
  box-shadow: 0px -1px 17px 0px rgba(250, 0, 0, 0.75);
}

.placar {
  display: none;
}

#error-server {
  display: none;
}

#spinner {
  display: none;
}

#input-id-frase {
  width: 40px;
}

#botao-sync {
  float: right;
}
